[package]
name = "app"
version = "0.1.0"
description = "A Tauri App"
authors = ["you"]
license = ""
repository = ""
edition = "2021"
rust-version = "1.77.2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "app_lib"
crate-type = ["staticlib", "cdylib", "rlib"]

[build-dependencies]
tauri-build = { version = "2.0.4", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "2.2.4", features = ["macos-private-api", "tray-icon", 'devtools'] }
tauri-plugin-log = "2.2.3"
tauri-plugin-fs = "2.2.0"
xcap = "0.3.3"
device_query = "3.0.0"
log = "0.4"
image = { version = "0.25.5", features = ["png", "webp"] }

# [profile.dev]
# opt-level = 3
