:root {
    --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
    }
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background: transparent;
    box-sizing: border-box;
    margin: 0 !important;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}