.layerContainer {
    position: fixed;
    top: 0;
    left: 0;
}

.drawToolbarCursor {
    left: 0;
    top: 0;
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: transparent;
    border: 1px solid #0000008d;
    border-radius: 50%;
    cursor: none;
    pointer-events: none;
}